# Pandas: Read_Excel and To_Excel *Explained*
- read_excel: function in Pandas that is used for importing data from Excel files into a Pandas DataFrame
- to_excel: function in Pandas used to write or export a Pandas DataFrame to an Excel

## <u>Libraries</u>

In [1]:
import pandas as pd

# Read_Excel

## <u>Importing Data into a DataFrame

In [2]:
path = "C:\\Users\\laura\OneDrive\\Desktop\Python Sandbox for Projects\\DataFrames Pandas\\Python Pandas Read_Excel in Pandas\CompanyData.xlsx"
df = pd.read_excel(path)

In [3]:
df

,EEID,Full Name,Job Title,Department,Business Unit,Age,Hire Date,Annual Salary,Bonus %,Country,City,Exit Date
0,E02387,Emily Davis,Sr. Manger,IT,Research & Development,55,2016-04-08,141604,0.15,United States,Seattle,2021-10-16
1,E04105,Theodore Dinh,Technical Architect,IT,Manufacturing,59,1997-11-29,99975,0.00,China,Chongqing,NaT
2,E02572,Luna Sanders,Director,Finance,Speciality Products,50,2006-10-26,163099,0.20,United States,Chicago,NaT
3,E02832,Penelope Jordan,Computer Systems Manager,IT,Manufacturing,26,2019-09-27,84913,0.07,United States,Chicago,NaT
4,E01639,Austin Vo,Sr. Analyst,Finance,Manufacturing,55,1995-11-20,95409,0.00,United States,Phoenix,NaT
...,...,...,...,...,...,...,...,...,...,...,...,...
995,E03094,Wesley Young,Sr. Analyst,Marketing,Speciality Products,33,2016-09-18,98427,0.00,United States,Columbus,NaT
996,E01909,Lillian Khan,Analyst,Finance,Speciality Products,44,2010-05-31,47387,0.00,China,Chengdu,2018-01-08
997,E04398,Oliver Yang,Director,Marketing,Speciality Products,31,2019-06-10,176710,0.15,United States,Miami,NaT
998,E02521,Lily Nguyen,Sr. Analyst,Finance,Speciality Products,33,2012-01-28,95960,0.00,China,Chengdu,NaT
999,E03545,Sofia Cheng,Vice President,Accounting,Corporate,63,2020-07-26,216195,0.31,United States,Miami,NaT

## <u>Explaining Different Parameters

In [4]:
df_all_sheets = pd.read_excel(path, sheet_name=['Employees','Financials'])

In [5]:
df_all_sheets['Employees']
df_all_sheets['Financials']

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Account,Business Unit,Currency,Year,Scenario,Jan,Feb,Mar,Apr,May,Jun,Jul,Aug,Sep,Oct,Nov,Dec
3,Sales,Software,USD,2012,Actuals,90924002,82606134,72780220,52943701,77528109,96384524,77345061,98290873,79879127,95373403,54887908,82703597
4,Cost of Goods Sold,Software,USD,2012,Actuals,-41623278,-40464347,-30806326,-21412962,-37047252,-44819597,-34847393,-47903350,-35880653,-44982115,-26929424,-34233473
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
349,Travel & Entertainment Expense,Hardware,USD,2023,Forecast,-295046,-288819,-270521,-299399,-259557,-306337,-302042,-335932,-352326,-202497,-209741,-306375
350,R&D Expense,Hardware,USD,2023,Forecast,-1063042,-1383994,-1005520,-1122436,-1105967,-1152280,-1172596,-1435420,-1381456,-865769,-855963,-1188799
351,Consulting Expense,Hardware,USD,2023,Forecast,-1440304,-1476449,-1202261,-1447697,-1227951,-1255275,-1424563,-1942571,-1593839,-1037651,-1097675,-1397647
352,Software/Hardware Expense,Hardware,USD,2023,Forecast,-1825596,-1941785,-1833335,-2389482,-1906406,-1777976,-2005933,-2661184,-2463031,-1455030,-1398480,-1954771
353,Marketing Expense,Hardware,USD,2023,Forecast,-545525,-576243,-534567,-678191,-461374,-509712,-576349,-660401,-684878,-460793,-480324,-657505

In [6]:
df_employees = pd.read_excel(path, sheet_name='Employees')
df_financials = pd.read_excel(path, sheet_name='Financials')

In [7]:
df_financials

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Account,Business Unit,Currency,Year,Scenario,Jan,Feb,Mar,Apr,May,Jun,Jul,Aug,Sep,Oct,Nov,Dec
3,Sales,Software,USD,2012,Actuals,90924002,82606134,72780220,52943701,77528109,96384524,77345061,98290873,79879127,95373403,54887908,82703597
4,Cost of Goods Sold,Software,USD,2012,Actuals,-41623278,-40464347,-30806326,-21412962,-37047252,-44819597,-34847393,-47903350,-35880653,-44982115,-26929424,-34233473
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
349,Travel & Entertainment Expense,Hardware,USD,2023,Forecast,-295046,-288819,-270521,-299399,-259557,-306337,-302042,-335932,-352326,-202497,-209741,-306375
350,R&D Expense,Hardware,USD,2023,Forecast,-1063042,-1383994,-1005520,-1122436,-1105967,-1152280,-1172596,-1435420,-1381456,-865769,-855963,-1188799
351,Consulting Expense,Hardware,USD,2023,Forecast,-1440304,-1476449,-1202261,-1447697,-1227951,-1255275,-1424563,-1942571,-1593839,-1037651,-1097675,-1397647
352,Software/Hardware Expense,Hardware,USD,2023,Forecast,-1825596,-1941785,-1833335,-2389482,-1906406,-1777976,-2005933,-2661184,-2463031,-1455030,-1398480,-1954771
353,Marketing Expense,Hardware,USD,2023,Forecast,-545525,-576243,-534567,-678191,-461374,-509712,-576349,-660401,-684878,-460793,-480324,-657505

### Parameter: header

In [8]:
df_financials = pd.read_excel(path, sheet_name='Financials',header=3)

In [9]:
df_financials

,Account,Business Unit,Currency,Year,Scenario,Jan,Feb,Mar,Apr,May,Jun,Jul,Aug,Sep,Oct,Nov,Dec
0,Sales,Software,USD,2012,Actuals,90924002.0,82606134.0,72780220.0,52943701.0,77528109.0,96384524.0,77345061.0,98290873.0,79879127.0,95373403.0,54887908.0,82703597.0
1,Cost of Goods Sold,Software,USD,2012,Actuals,-41623278.0,-40464347.0,-30806326.0,-21412962.0,-37047252.0,-44819597.0,-34847393.0,-47903350.0,-35880653.0,-44982115.0,-26929424.0,-34233473.0
2,Commissions Expense,Software,USD,2012,Actuals,-4454359.0,-3386032.0,-3389705.0,-2149257.0,-3168079.0,-4417624.0,-3386461.0,-4052846.0,-3418737.0,-4365527.0,-2455561.0,-3646726.0
3,Payroll Expense,Software,USD,2012,Actuals,-9901680.0,-9871172.0,-8459696.0,-6303408.0,-8493573.0,-4448901.0,-8081033.0,-11070018.0,-8410665.0,-10081727.0,-6300578.0,-9099438.0
4,Travel & Entertainment Expense,Software,USD,2012,Actuals,-951255.0,-838985.0,-872700.0,-624416.0,-919835.0,-1085296.0,-818602.0,-1040585.0,-803190.0,-1158623.0,-611335.0,-941542.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
346,Travel & Entertainment Expense,Hardware,USD,2023,Forecast,-295046.0,-288819.0,-270521.0,-299399.0,-259557.0,-306337.0,-302042.0,-335932.0,-352326.0,-202497.0,-209741.0,-306375.0
347,R&D Expense,Hardware,USD,2023,Forecast,-1063042.0,-1383994.0,-1005520.0,-1122436.0,-1105967.0,-1152280.0,-1172596.0,-1435420.0,-1381456.0,-865769.0,-855963.0,-1188799.0
348,Consulting Expense,Hardware,USD,2023,Forecast,-1440304.0,-1476449.0,-1202261.0,-1447697.0,-1227951.0,-1255275.0,-1424563.0,-1942571.0,-1593839.0,-1037651.0,-1097675.0,-1397647.0
349,Software/Hardware Expense,Hardware,USD,2023,Forecast,-1825596.0,-1941785.0,-1833335.0,-2389482.0,-1906406.0,-1777976.0,-2005933.0,-2661184.0,-2463031.0,-1455030.0,-1398480.0,-1954771.0
350,Marketing Expense,Hardware,USD,2023,Forecast,-545525.0,-576243.0,-534567.0,-678191.0,-461374.0,-509712.0,-576349.0,-660401.0,-684878.0,-460793.0,-480324.0,-657505.0

### Parameter: nrows

In [10]:
df_financials = pd.read_excel(path, sheet_name='Financials',header=3, nrows=100)

In [11]:
df_financials

,Account,Business Unit,Currency,Year,Scenario,Jan,Feb,Mar,Apr,May,Jun,Jul,Aug,Sep,Oct,Nov,Dec
0,Sales,Software,USD,2012,Actuals,90924002.0,82606134.0,72780220.00,52943701.00,77528109.00,96384524.00,77345061.0,98290873.0,79879127.0,95373403.00,54887908.00,82703597.00
1,Cost of Goods Sold,Software,USD,2012,Actuals,-41623278.0,-40464347.0,-30806326.00,-21412962.00,-37047252.00,-44819597.00,-34847393.0,-47903350.0,-35880653.0,-44982115.00,-26929424.00,-34233473.00
2,Commissions Expense,Software,USD,2012,Actuals,-4454359.0,-3386032.0,-3389705.00,-2149257.00,-3168079.00,-4417624.00,-3386461.0,-4052846.0,-3418737.0,-4365527.00,-2455561.00,-3646726.00
3,Payroll Expense,Software,USD,2012,Actuals,-9901680.0,-9871172.0,-8459696.00,-6303408.00,-8493573.00,-4448901.00,-8081033.0,-11070018.0,-8410665.0,-10081727.00,-6300578.00,-9099438.00
4,Travel & Entertainment Expense,Software,USD,2012,Actuals,-951255.0,-838985.0,-872700.00,-624416.00,-919835.00,-1085296.00,-818602.0,-1040585.0,-803190.0,-1158623.00,-611335.00,-941542.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,R&D Expense,Advertising,USD,2015,Actuals,-628560.0,-607225.0,-605967.00,-523211.00,-761411.00,-942950.00,-1259315.0,-593077.0,-932114.0,-888540.00,-848637.00,-811089.00
96,Consulting Expense,Advertising,USD,2015,Actuals,-840546.0,-680213.0,-638286.00,-639841.00,-1072470.00,-1382250.00,-1632544.0,-636013.0,-1152236.0,-1315230.00,-1048976.00,-1063853.00
97,Software/Hardware Expense,Advertising,USD,2015,Actuals,-1050093.0,-1048268.0,-966784.00,-928678.00,-1460786.00,-1852892.00,-2327627.0,-836034.0,-1595638.0,-1616163.00,-1534232.00,-1707959.00
98,Marketing Expense,Advertising,USD,2015,Actuals,-275227.0,-327777.0,-292639.00,-286019.00,-377546.00,-453403.00,-714292.0,-263464.0,-517575.0,-425453.00,-389907.00,-456591.00
99,Sales,Hardware,USD,2015,Actuals,16969408.8,20671365.0,21706988.52,16485722.88,33633742.35,25985002.59,30855846.9,22620783.6,30238140.4,33424817.48,28877124.16,31591279.08

### Parameter: usecols

In [12]:
df_financials = pd.read_excel(path, sheet_name='Financials',header=3, usecols=['Account', 'Business Unit'])

In [13]:
df_financials

                            Account Business Unit
0                             Sales      Software
1                Cost of Goods Sold      Software
2               Commissions Expense      Software
3                   Payroll Expense      Software
4    Travel & Entertainment Expense      Software
..                              ...           ...
346  Travel & Entertainment Expense      Hardware
347                     R&D Expense      Hardware
348              Consulting Expense      Hardware
349       Software/Hardware Expense      Hardware
350               Marketing Expense      Hardware

[351 rows x 2 columns]

### Parameter: index_col

In [14]:
df_financials = pd.read_excel(path, sheet_name='Financials',header=3, index_col='Account')

In [15]:
df_financials

,Business Unit,Currency,Year,Scenario,Jan,Feb,Mar,Apr,May,Jun,Jul,Aug,Sep,Oct,Nov,Dec
Account,,,,,,,,,,,,,,,,
Sales,Software,USD,2012,Actuals,90924002.0,82606134.0,72780220.0,52943701.0,77528109.0,96384524.0,77345061.0,98290873.0,79879127.0,95373403.0,54887908.0,82703597.0
Cost of Goods Sold,Software,USD,2012,Actuals,-41623278.0,-40464347.0,-30806326.0,-21412962.0,-37047252.0,-44819597.0,-34847393.0,-47903350.0,-35880653.0,-44982115.0,-26929424.0,-34233473.0
Commissions Expense,Software,USD,2012,Actuals,-4454359.0,-3386032.0,-3389705.0,-2149257.0,-3168079.0,-4417624.0,-3386461.0,-4052846.0,-3418737.0,-4365527.0,-2455561.0,-3646726.0
Payroll Expense,Software,USD,2012,Actuals,-9901680.0,-9871172.0,-8459696.0,-6303408.0,-8493573.0,-4448901.0,-8081033.0,-11070018.0,-8410665.0,-10081727.0,-6300578.0,-9099438.0
Travel & Entertainment Expense,Software,USD,2012,Actuals,-951255.0,-838985.0,-872700.0,-624416.0,-919835.0,-1085296.0,-818602.0,-1040585.0,-803190.0,-1158623.0,-611335.0,-941542.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Travel & Entertainment Expense,Hardware,USD,2023,Forecast,-295046.0,-288819.0,-270521.0,-299399.0,-259557.0,-306337.0,-302042.0,-335932.0,-352326.0,-202497.0,-209741.0,-306375.0
R&D Expense,Hardware,USD,2023,Forecast,-1063042.0,-1383994.0,-1005520.0,-1122436.0,-1105967.0,-1152280.0,-1172596.0,-1435420.0,-1381456.0,-865769.0,-855963.0,-1188799.0
Consulting Expense,Hardware,USD,2023,Forecast,-1440304.0,-1476449.0,-1202261.0,-1447697.0,-1227951.0,-1255275.0,-1424563.0,-1942571.0,-1593839.0,-1037651.0,-1097675.0,-1397647.0
Software/Hardware Expense,Hardware,USD,2023,Forecast,-1825596.0,-1941785.0,-1833335.0,-2389482.0,-1906406.0,-1777976.0,-2005933.0,-2661184.0,-2463031.0,-1455030.0,-1398480.0,-1954771.0
Marketing Expense,Hardware,USD,2023,Forecast,-545525.0,-576243.0,-534567.0,-678191.0,-461374.0,-509712.0,-576349.0,-660401.0,-684878.0,-460793.0,-480324.0,-657505.0

# To_Excel

In [16]:
df_employees.to_excel('Employees_Data.xlsx', sheet_name='Employees', index=False)

In [17]:
with pd.ExcelWriter('All_Company_Data.xlsx') as writer:
    df_employees.to_excel(writer, sheet_name='Employees', index=False)
    df_financials.to_excel(writer, sheet_name='Financials', index=False)